#REGLAGE#
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_scriptHookAllowed 0
sv_enforceGameBuild 2699
sv_maxclients 5
sv_hostname "SixM"
sets sv_projectName "SixM"
sets sv_projectDesc "SixM"
set steam_webApiKey "none"
sv_licenseKey "cfxk_zRnLYmZDiqRsHiQ0zzOa_1E8Ufr"
#RESSOURCE#
ensure dumpresource
